<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<menu>
  <category name="Jordan">
    <item>
      <listing>Jordan 1 Chicago</listing>
      <price>27,968.00</price>
      <size>11</size>
      <size>10</size>
      <size>9</size>
      <color>Red</color>
    </item>
    <item>
      <listing>Jordan 6 Infrared</listing>
      <price>1500.00</price>
      <size>11</size>
      <size>10</size>
      <size>9</size>
      <color>Black</color>
    </item>
    
  </category>
  <category name="Adidas">
    <item>
      <listing>Campus 80s</listing>
      <price>100.00</price>
      <size>11</size>
      <size>10</size>
      <size>9</size>
      <color>Red</color>
    </item>
    <item>
      <listing>Stan Smith</listing>
      <price>67.00</price>
      <size>11</size>
      <size>10</size>
      <size>9</size>
      <color>White/Green</color>
    </item>
    
  </category>
  <category name="Reebok">
    <item>
      <listing>Question Mid Allen Iverson</listing>
      <price>130.00</price>
      <size>11</size>
      <size>10</size>
      <size>9</size>
      <color>White/Black/Blue</color>
    </item>
    <item>
      <listing>Shaqnosis Shaquille O´neal</listing>
      <price>130.00</price>
      <size>11</size>
      <size>10</size>
      <size>9</size>
      <color>Yellow</color>
    </item>
    
  </category>
</menu>