<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Sneaker Shop House</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">Sneaker House 🏀</a>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container">
            <div class="text-center mt-5">
                <h1>Welcome to Sneakers House</h1>
                <p class="lead">A place where you can find your dream sneakers and upgread your collection</p>
                <p>Please  select the model and size of your desire</p>
            </div>
            <div class="row">
                    <div id="Menu" class="col-lg-4 order-5 order-1">
                        <form>

                        </form>
                        <div class="d-grid gap-2">
                            <button id="Remove" class="btn btn-danger btn-block mt-3 ">Remove</button>
                        </div>
                    </div>
                    <div id="Results" class="col-lg-8 mb-5 order-2"></div>
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
